# Postgrest
src/Postgrest/bin
src/Postgrest/obj
src/Postgrest/.idea

# PostgrestExmaple
src/PostgrestExample/bin
src/PostgrestExample/obj
src/PostgrestExample/.idea

# Postgrest.Tests
src/Postgrest.Tests/bin
src/Postgrest.Tests/obj
src/Postgrest.Tests/.idea

# vscode
.vscode

# idea
.idea

# .ionide
.ionide
.fake
