# Postgrest
src/Postgrest/bin
src/Postgrest/obj
src/Postgrest/.idea
src/Postgrest/*.DotSettings.user

# PostgrestExmaple
src/PostgrestExample/bin
src/PostgrestExample/obj
src/PostgrestExample/.idea
src/PostgrestExample/*.DotSettings.user

# PostgrestTests
src/PostgrestTests/bin
src/PostgrestTests/obj
src/PostgrestTests/.idea
src/PostgrestTests/*.DotSettings.user

# vscode
.vscode

# idea
.idea

# .ionide
.ionide
.fake

# MacOS
.DS_Store

*.DotSettings.user