# Postgrest
src/Postgrest/bin
src/Postgrest/obj
src/Postgrest/.idea
src/Postgrest/*.DotSettings.user

# PostgrestExmaple
src/PostgrestExample/bin
src/PostgrestExample/obj
src/PostgrestExample/.idea
src/PostgrestExample/*.DotSettings.user

# PostgrestTests
src/PostgrestTest/bin
src/PostgrestTest/obj
src/PostgrestTest/.idea
src/PostgrestTest/*.DotSettings.user

# vscode
.vscode

# idea
.idea

# .ionide
.ionide
.fake

# MacOS
.DS_Store

#docs
.fsdocs

*.DotSettings.user